<form method="POST" action="">
  <div id="input-text">
    <div>
      <textarea
        class="text"
        name="message"
        placeholder="Enter your text message..."
      >{{originalText}}</textarea>
    </div>
    <div><input class="submit" type="submit" /></div>
  </div>
</form>

<div id="display-text">
  {{words}}
</div>