<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Kaomoji Texting</title>
  </head>
  <body>
    <header>
      <img id="iamge" src="/img/logo.png" />
      <nav class="link-box">
        <a class="link" href="/">Editor</a>
        <a class="link" href="/dictionary">Dictionary</a>
      </nav>
    </header>
    <!-- where the template content gets dumped into -->
    <!-- This surrounding html will go on every page-->
    <!-- if there's html, then render it exactly as is -->
    <!-- with double curly braces, special characters are escaped... so
		for example, angle brackets are turned &gt; -->
    {{{body}}}
  </body>
</html>