<div class="title">
  <soan>ADD A REVIEW</soan>
</div>

<div class="anotherContainer">
  <form id="formC" method="POST">
    <div class="rows">
      <div class="column">
        <label for="course-number" class="theLabels">Course Number: </label>
        <input
          class="theInputs"
          id="course-number"
          type="text"
          ,
          name="courseNumber"
        />
      </div>

      <div class="column">
        <label for="course-name" class="theLabels">Course Name: </label>
        <input
          class="theInputs"
          id="course-name"
          type="text"
          ,
          name="courseName"
        />
      </div>

      <div class="column">
        <label for="semester" class="theLabels">Semesters: </label>
        <select class="theInputs" name="semester" id="semester">
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Fall">Fall</option>
          <option value="Winter">Winter</option>
        </select>
      </div>

      <div class="column">
        <label for="year" class="theLabels">Year: </label>
        <input class="theInputs" id="year" type="number" , name="year" />
      </div>

      <div class="column">
        <label for="professor" class="theLabels">Professor: </label>
        <input class="theInputs" id="year" type="text" , name="professor" />
      </div>

      <div class="column">
        <label for="review" class="theLabels">Review: </label>
        <input class="theInputs" id="review" type="text" , name="review" />
      </div>

      <input value="Submit" type="submit" />
    </div>
  </form>
</div>